Repository MONEI/MONEI-WooCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix, wp-scripts lint-style --fix

docs: regenerate readme changelog for 7.1.2
  README.md
  readme.txt
Due: wp-scripts format

fix: size the single-line card field to match the cardholder input
  assets/css/monei-blocks-checkout.css
Due: wp-scripts format, wp-scripts lint-style --fix

chore: release v7.1.3
  CHANGELOG.md
  class-woocommerce-gateway-monei.php
  package.json
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

docs: regenerate readme changelog for 7.1.3
  README.md
  readme.txt
Due: wp-scripts format

feat: cover the page while an express payment is being completed
  assets/js/monei-express-checkout.js
  src/Services/express/ExpressCheckoutAssets.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

fix: use the billing address when a wallet returns an empty shipping one
  assets/js/monei-block-express-checkout.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: give the cart-restore case the billing its refusal path needs
  tests/playwright/specs/express-amount.spec.js
Due: wp-scripts format, wp-scripts lint-js --fix

chore: release v7.2.0
  CHANGELOG.md
  class-woocommerce-gateway-monei.php
  package.json
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

docs: regenerate readme changelog for 7.2.0
  README.md
  readme.txt
Due: wp-scripts format

fix: report express failures on every surface, not just the checkout block
  assets/js/monei-block-express-checkout.js
  src/Services/express/ExpressCheckoutAssets.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

chore: release v7.2.1
  CHANGELOG.md
  class-woocommerce-gateway-monei.php
  package.json
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

docs: regenerate readme changelog for 7.2.1
  README.md
  readme.txt
Due: wp-scripts format

fix: surface an express checkout failure on the cart, not only the checkout
  assets/js/monei-block-express-checkout.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: pay with a real PayPal sandbox account end to end
  tests/playwright/specs/paypal-express.spec.js
  tests/playwright/utils/paypal.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: pay with PayPal on the surface that can complete the order
  tests/playwright/specs/paypal-express.spec.js
Due: wp-scripts format, wp-scripts lint-js --fix

chore: release v7.2.2
  CHANGELOG.md
  class-woocommerce-gateway-monei.php
  package.json
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

docs: regenerate readme changelog for 7.2.2
  README.md
  readme.txt
Due: wp-scripts format

test: skip the PayPal specs instead of failing when unconfigured
  tests/playwright/specs/paypal-express.spec.js
  tests/playwright/utils/wp-cli.js
Due: wp-scripts format, wp-scripts lint-js --fix

chore: release v7.2.3
  CHANGELOG.md
  class-woocommerce-gateway-monei.php
  package.json
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

docs: regenerate readme changelog for 7.2.3
  README.md
  readme.txt
Due: wp-scripts format

test: pay with express PayPal on a store that does not ship
  tests/playwright/specs/paypal-express.spec.js
  tests/playwright/utils/paypal.js
  tests/playwright/utils/wp-cli.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: pay with express PayPal on a store that does not ship (#117)
  tests/playwright/specs/paypal-express.spec.js
  tests/playwright/utils/paypal.js
  tests/playwright/utils/wp-cli.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: pre-authorize wallet payments and let the capture actually stick
  class-woocommerce-gateway-monei.php
  includes/class-wc-monei-pre-auth.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  tests/playwright/specs/express-payment.spec.js
  tests/playwright/utils/wp-cli.js
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

fix: persist only the meta, not a stale order status, after capture
  includes/class-wc-monei-pre-auth.php
Due: composer phpcbf --, composer phpstan --

fix: pre-authorize wallet payments and let the capture actually stick (#118)
  class-woocommerce-gateway-monei.php
  includes/class-wc-monei-pre-auth.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  tests/playwright/specs/express-payment.spec.js
  tests/playwright/utils/wp-cli.js
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

chore: release v7.2.4
  CHANGELOG.md
  class-woocommerce-gateway-monei.php
  package.json
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

docs: regenerate readme changelog for 7.2.4
  README.md
  readme.txt
Due: wp-scripts format

chore: track the browser preview launch config
  .claude/launch.json
  .gitignore
Due: wp-scripts format

feat: show the card fields as separate fields by default
  includes/admin/monei-cc-settings.php
  src/Gateways/Blocks/MoneiCCBlocksSupport.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  tests/playwright/utils/wp-cli.js
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

feat: show the card fields as separate fields by default (#119)
  includes/admin/monei-cc-settings.php
  src/Gateways/Blocks/MoneiCCBlocksSupport.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  tests/playwright/utils/wp-cli.js
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

chore: release v7.3.0
  CHANGELOG.md
  class-woocommerce-gateway-monei.php
  package.json
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

docs: regenerate readme changelog for 7.3.0
  README.md
  readme.txt
Due: wp-scripts format

fix: cache a failed payment-methods lookup so a wrong key does not poll the API per render
  src/Repositories/PaymentMethodsRepository.php
  tests/phpunit/PaymentMethodsRepositoryTest.php
Due: composer phpcbf --, composer phpstan --

test: assert the unavailable marker is a 30 s transient, not instance state
  tests/phpunit/PaymentMethodsRepositoryTest.php
Due: composer phpcbf --, composer phpstan --

fix: cache a failed payment-methods lookup so a wrong key does not poll the API per render (#120)
  src/Repositories/PaymentMethodsRepository.php
  tests/phpunit/PaymentMethodsRepositoryTest.php
Due: composer phpcbf --, composer phpstan --

chore: release v7.3.1
  CHANGELOG.md
  class-woocommerce-gateway-monei.php
  package.json
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

style: align the UNAVAILABLE array the way phpcs wants it
  src/Repositories/PaymentMethodsRepository.php
Due: composer phpcbf --, composer phpstan --

docs: regenerate readme changelog for 7.3.1
  README.md
  readme.txt
Due: wp-scripts format

fix: stop polling the API on hosts where transients do not persist
  class-woocommerce-gateway-monei.php
  src/Core/container-definitions.php
  src/Repositories/PaymentMethodsRepository.php
  src/Settings/MoneiSettings.php
  src/Templates/NoticeApiKeyRejected.php
  tests/phpunit/PaymentMethodsRepositoryTest.php
Due: composer phpcbf --, composer phpstan --

Path conditions:
  composer phpcbf --: any of: *.php
  composer phpstan --: any of: *.php
  wp-scripts format: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{json,yml,yaml,md})
  wp-scripts lint-js --fix: any of: *.{js,jsx}
  wp-scripts lint-style --fix: any of: *.{css,scss}
