Repository MONEI/MONEI-WooCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix, wp-scripts lint-style --fix

.lintstagedrc.json:

{
	"*.php": [ "composer phpcbf --", "composer phpstan --" ],
	"*.{js,jsx}": [ "wp-scripts format", "wp-scripts lint-js --fix" ],
	"*.{css,scss}": [ "wp-scripts format", "wp-scripts lint-style --fix" ],
	"*.{json,yml,yaml,md}": [ "wp-scripts format" ]
}

fix: handle error objects properly in classic checkout and hooks
  assets/js/helpers/monei-card-input-hooks.js
  assets/js/monei-cc-classic.js
  src/Gateways/Blocks/MoneiAppleGoogleBlocksSupport.php
  src/Services/MoneiApplePayVerificationService.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

fix: wrap redirect description in div for proper rendering in classic checkout
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiBizum.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
Due: composer phpcbf --, composer phpstan --

fix: refactor Apple/Google Pay component and fix React hooks violations
  .eslintrc.js
  assets/js/components/monei-apple-google-component.js
  assets/js/components/monei-cc-component.js
  package.json
  yarn.lock
Due: wp-scripts format, wp-scripts lint-js --fix

fix: filter card brands by key instead of localized title
  assets/js/components/monei-cc-component.js
  src/Gateways/Blocks/MoneiCCBlocksSupport.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

feat: add skeleton loading for payment request components
  assets/css/monei-blocks-checkout.css
  assets/css/monei-classic-checkout.css
  assets/js/components/monei-apple-google-component.js
  assets/js/helpers/monei-card-input-hooks.js
  assets/js/monei-apple-google-classic.js
  assets/js/monei-bizum-classic.js
  assets/js/monei-block-checkout-bizum.js
  assets/js/monei-block-checkout-paypal.js
  assets/js/monei-paypal-classic.js
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiBizum.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix, wp-scripts lint-style --fix

fix: stabilize React hooks to prevent excessive re-renders
  assets/js/helpers/monei-card-input-hooks.js
  assets/js/helpers/monei-shared-utils.js
  assets/js/monei-block-checkout-bizum.js
  assets/js/monei-block-checkout-paypal.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: stabilize React hooks and fix function initialization order
  assets/js/monei-block-checkout-bizum.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: handle dynamic form IDs in Bizum create_hidden_input
  assets/js/monei-bizum-classic.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: add null checks and fallbacks to all classic payment methods
  assets/js/monei-apple-google-classic.js
  assets/js/monei-cc-classic.js
  assets/js/monei-paypal-classic.js
Due: wp-scripts format, wp-scripts lint-js --fix

refactor: improve button state management and clean up CSS
  assets/css/monei-blocks-checkout.css
  assets/js/helpers/monei-shared-utils.js
  commitlint.config.js
Due: wp-scripts format, wp-scripts lint-js --fix, wp-scripts lint-style --fix

refactor: extract common instance creation logic in PayPal and Bizum components
  assets/js/monei-block-checkout-bizum.js
  assets/js/monei-block-checkout-paypal.js
Due: wp-scripts format, wp-scripts lint-js --fix

feat: implement log level system with performance optimizations
  includes/class-wc-monei-logger.php
  src/Gateways/Abstracts/WCMoneiPaymentGateway.php
  src/Gateways/Abstracts/WCMoneiPaymentGatewayComponent.php
  src/Settings/MoneiSettings.php
  tests/phpstan-bootstrap.php
Due: composer phpcbf --, composer phpstan --

feat: improve settings descriptions and UI consistency
  includes/admin/monei-cc-settings.php
  src/Settings/MoneiSettings.php
Due: composer phpcbf --, composer phpstan --

refactor: remove duplicate method and overly broad event handler
  assets/js/monei-apple-google-classic.js
  src/Gateways/Abstracts/WCMoneiPaymentGatewayComponent.php
  tests/phpstan-bootstrap.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

refactor: streamline payment method initialization and enhance error handling
  .github/workflows/code-quality.yml
Due: wp-scripts format

chore: update GitHub Actions workflow for code quality checks
  .github/workflows/code-quality.yml
Due: wp-scripts format

fix: resolve PHPCS security warnings
  src/Gateways/Abstracts/WCMoneiPaymentGateway.php
  src/Services/MoneiApplePayVerificationService.php
Due: composer phpcbf --, composer phpstan --

refactor: fix CSS class naming and remove duplicate method
  assets/js/monei-settings.js
  src/Gateways/Abstracts/WCMoneiPaymentGatewayComponent.php
  src/Settings/MoneiSettings.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

feat: add internationalization support with 13 languages
  class-woocommerce-gateway-monei.php
  composer.json
  composer.lock
  includes/admin/monei-cc-settings.php
  languages/index.php
  languages/monei-ca.mo
  languages/monei-ca.po
  languages/monei-de_DE.mo
  languages/monei-de_DE.po
  languages/monei-es_ES.mo
  languages/monei-es_ES.po
  languages/monei-et.mo
  languages/monei-et.po
  languages/monei-fi.mo
  languages/monei-fi.po
  languages/monei-fr_FR.mo
  languages/monei-fr_FR.po
  languages/monei-it_IT.mo
  languages/monei-it_IT.po
  languages/monei-lv.mo
  languages/monei-lv.po
  languages/monei-nb_NO.mo
  languages/monei-nb_NO.po
  languages/monei-nl_NL.mo
  languages/monei-nl_NL.po
  languages/monei-pl_PL.mo
  languages/monei-pl_PL.po
  languages/monei-pt_PT.mo
  languages/monei-pt_PT.po
  languages/monei-ru_RU.mo
  languages/monei-ru_RU.po
  languages/monei.pot
Due: composer phpcbf --, composer phpstan --, wp-scripts format

fix: filter default card brand by key instead of localized title
  assets/js/monei-cc-classic.js
Due: wp-scripts format, wp-scripts lint-js --fix

chore: update .gitignore and package.json for translation support
  .gitignore
  includes/admin/monei-cc-settings.php
  languages/monei-ca.mo
  languages/monei-de_DE.mo
  languages/monei-es_ES.mo
  languages/monei-et.mo
  languages/monei-fi.mo
  languages/monei-fr_FR.mo
  languages/monei-it_IT.mo
  languages/monei-lv.mo
  languages/monei-nb_NO.mo
  languages/monei-nl_NL.mo
  languages/monei-pl_PL.mo
  languages/monei-pt_PT.mo
  languages/monei-ru_RU.mo
  languages/monei.pot
  package.json
Due: composer phpcbf --, composer phpstan --, wp-scripts format

fix: standardize redirect mode field names across payment methods
  assets/js/monei-settings.js
  includes/admin/monei-bizum-settings.php
  includes/admin/monei-cc-settings.php
  includes/admin/monei-paypal-settings.php
  languages/monei-fi.po
  src/Gateways/Blocks/MoneiBizumBlocksSupport.php
  src/Gateways/Blocks/MoneiCCBlocksSupport.php
  src/Gateways/Blocks/MoneiPaypalBlocksSupport.php
  src/Gateways/PaymentMethods/WCGatewayMoneiBizum.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

chore: remove pre-push hook to prevent direct pushes to master/main branch
  .husky/pre-push
Due: none

chore: release v7.0.0
  CHANGELOG.md
  class-woocommerce-gateway-monei.php
  package.json
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

chore: release v7.0.0
  CHANGELOG.md
  README.md
  class-woocommerce-gateway-monei.php
  package.json
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

fix: correct changelog generation and standardize GitHub Actions
  .github/workflows/create-package.yml
  .github/workflows/main.yml
  CHANGELOG.md
  README.md
  readme.txt
  scripts/generate-readme.js
  scripts/sort-changelog.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: upgrade to PHP 8.0+ to resolve PHP-DI compatibility issue
  .github/workflows/code-quality.yml
  DEVELOPER.md
  README.md
  composer.json
  composer.lock
  readme.txt
  tests/phpstan-bootstrap.php
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

chore: release v7.0.1
  CHANGELOG.md
  class-woocommerce-gateway-monei.php
  package.json
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

chore: release v7.0.1
  CHANGELOG.md
  README.md
  class-woocommerce-gateway-monei.php
  package.json
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

fix: prevent wp_sanitize_redirect from stripping domain in payment URLs
  src/Gateways/Abstracts/WCMoneiPaymentGatewayComponent.php
  src/Gateways/Abstracts/WCMoneiPaymentGatewayHosted.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
Due: composer phpcbf --, composer phpstan --

chore: release v7.0.2
  CHANGELOG.md
  class-woocommerce-gateway-monei.php
  package.json
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

fix: filter release commits and standardize markdown headers in readme generator
  README.md
  readme.txt
  scripts/generate-readme.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: skip token creation in CC block checkout redirect mode
  assets/js/components/monei-cc-component.js
Due: wp-scripts format, wp-scripts lint-js --fix

chore: release v7.0.3
  CHANGELOG.md
  class-woocommerce-gateway-monei.php
  package.json
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

chore: release v7.0.3
  README.md
  readme.txt
Due: wp-scripts format

chore: declare support for WordPress 7.0 and WooCommerce 11.0
  README.md
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

fix: pass amount and currency to CardInput for monei.js v3
  assets/js/components/monei-cc-component.js
  assets/js/helpers/monei-card-input-hooks.js
  assets/js/monei-cc-classic.js
Due: wp-scripts format, wp-scripts lint-js --fix

feat: migrate monei.js from v2 to v3
  src/Gateways/Blocks/MoneiAppleGoogleBlocksSupport.php
  src/Gateways/Blocks/MoneiCCBlocksSupport.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiBizum.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
Due: composer phpcbf --, composer phpstan --

refactor: replace deprecated createToken with instance.submit
  assets/js/helpers/monei-card-input-hooks.js
  assets/js/helpers/monei-shared-utils.js
  assets/js/monei-cc-classic.js
  src/Gateways/Blocks/MoneiAppleGoogleBlocksSupport.php
  src/Gateways/Blocks/MoneiCCBlocksSupport.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiBizum.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

chore: gitignore local implementation plans
  .gitignore
Due: none
