Repository MONEI/MONEI-WooCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix, wp-scripts lint-style --fix

.lintstagedrc.json:

{
	"*.php": [ "composer phpcbf --", "composer phpstan --" ],
	"*.{js,jsx}": [ "wp-scripts format", "wp-scripts lint-js --fix" ],
	"*.{css,scss}": [ "wp-scripts format", "wp-scripts lint-style --fix" ],
	"*.{json,yml,yaml,md}": [ "wp-scripts format" ]
}

feat: add card field layout setting for split card fields
  includes/admin/monei-cc-settings.php
  languages/monei.pot
  src/Gateways/Blocks/MoneiCCBlocksSupport.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
Due: composer phpcbf --, composer phpstan --

chore: bootstrap jest test infrastructure
  assets/js/helpers/monei-shared-utils.test.js
  jest-unit.config.js
  package.json
  yarn.lock
Due: wp-scripts format, wp-scripts lint-js --fix

feat: add useMoneiCardGroup hook for split card fields
  assets/js/helpers/monei-card-group-hooks.js
  assets/js/helpers/monei-card-group-hooks.test.js
Due: wp-scripts format, wp-scripts lint-js --fix

feat: add split card fields to blocks checkout
  assets/js/components/monei-cc-group-component.js
Due: wp-scripts format, wp-scripts lint-js --fix

feat: add split card fields to classic checkout
  assets/js/monei-cc-classic.js
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

feat: style split card fields
  assets/css/monei-blocks-checkout.css
  assets/css/monei-classic-checkout.css
Due: wp-scripts format, wp-scripts lint-style --fix

fix: match split card field styling to surrounding form inputs
  assets/css/monei-blocks-checkout.css
  assets/css/monei-classic-checkout.css
  includes/admin/monei-cc-settings.php
  src/Gateways/Blocks/MoneiCCBlocksSupport.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-style --fix

test: add playwright e2e coverage for card payments
  .eslintignore
  .prettierignore
  .stylelintignore
  package.json
  tests/playwright/playwright.config.js
  tests/playwright/specs/blocks-cc-single.spec.js
  tests/playwright/specs/blocks-cc-split.spec.js
  tests/playwright/specs/classic-cc-single.spec.js
  tests/playwright/utils/checkout.js
  tests/playwright/utils/wp-cli.js
  yarn.lock
Due: wp-scripts format, wp-scripts lint-js --fix

fix: keep payment methods when the MONEI lookup fails
  src/Repositories/PaymentMethodsRepository.php
  tests/playwright/utils/checkout.js
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

feat: add express checkout settings and gating
  includes/admin/monei-apple-google-settings.php
  includes/admin/monei-paypal-settings.php
  languages/monei.pot
  src/Gateways/Abstracts/WCMoneiPaymentGateway.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
Due: composer phpcbf --, composer phpstan --

chore: bootstrap phpunit for pure helper tests
  .gitignore
  composer.json
  composer.lock
  phpunit.xml
  tests/phpunit/SmokeTest.php
  tests/phpunit/bootstrap.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

feat: add express checkout ajax handler scaffolding and bootstrap
  class-woocommerce-gateway-monei.php
  src/Core/container-definitions.php
  src/Services/express/ExpressCheckoutAjaxHandler.php
Due: composer phpcbf --, composer phpstan --

feat: add express cart details and shipping options endpoints
  src/Services/express/ExpressCheckoutAjaxHandler.php
  tests/phpunit/ExpressAmountTest.php
Due: composer phpcbf --, composer phpstan --

feat: normalize express wallet addresses and update shipping method
  src/Services/express/ExpressCheckoutAjaxHandler.php
  tests/phpunit/ExpressAddressTest.php
Due: composer phpcbf --, composer phpstan --

chore: migrate from yarn to pnpm
  .distignore
  .github/workflows/code-quality.yml
  .github/workflows/create-package.yml
  .github/workflows/main.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .prettierignore
  .yarnrc.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: wp-scripts format

docs: update commands for pnpm
  CLAUDE.md
  DEVELOPER.md
Due: wp-scripts format

fix: make formatting and sanitizer checks real gates
  .prettierignore
  package.json
  phpcs.xml
Due: wp-scripts format

fix: run formatter after linters so prettier has the last word
  .lintstagedrc.json
  assets/css/monei-blocks-checkout.css
  assets/css/monei-classic-checkout.css
Due: wp-scripts format, wp-scripts lint-style --fix

chore: add explicit stylelint config so prettier and stylelint agree
  .stylelintrc.json
Due: wp-scripts format

fix: round the cart total to minor units instead of truncating it
  assets/js/components/monei-apple-google-component.js
  assets/js/components/monei-cc-component.js
  assets/js/helpers/monei-shared-utils.js
  assets/js/helpers/monei-shared-utils.test.js
  assets/js/monei-block-checkout-bizum.js
  assets/js/monei-block-checkout-paypal.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: retry card init after a failed attempt and destroy the old card group
  assets/js/helpers/monei-card-group-hooks.js
  assets/js/helpers/monei-card-group-hooks.test.js
  assets/js/helpers/monei-card-input-hooks.js
  assets/js/monei-cc-classic.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: re-cache the payment methods fallback during an API outage
  src/Repositories/PaymentMethodsRepository.php
Due: composer phpcbf --, composer phpstan --

test: require both E2E site targets explicitly
  DEVELOPER.md
  package.json
  pnpm-lock.yaml
  tests/playwright/.env.example
  tests/playwright/README.md
  tests/playwright/playwright.config.js
  tests/playwright/specs/blocks-cc-single.spec.js
  tests/playwright/specs/blocks-cc-split.spec.js
  tests/playwright/specs/classic-cc-single.spec.js
  tests/playwright/utils/env.js
  tests/playwright/utils/wp-cli.js
Due: wp-scripts format, wp-scripts lint-js --fix

docs: point the css lint example at the auto-fixer and refresh the release examples
  CLAUDE.md
Due: wp-scripts format

docs: require node 22.13, the minimum pnpm 11 accepts
  DEVELOPER.md
Due: wp-scripts format

feat: add express checkout wallet buttons to the checkout page
  assets/css/monei-express-checkout.css
  assets/js/helpers/monei-express-api.js
  assets/js/helpers/monei-express-payment-request.js
  assets/js/monei-block-express-checkout.js
  assets/js/monei-express-checkout.js
  class-woocommerce-gateway-monei.php
  src/Core/container-definitions.php
  src/Gateways/Blocks/MoneiAppleGoogleBlocksSupport.php
  src/Services/express/ExpressCheckoutAssets.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix, wp-scripts lint-style --fix

feat: add express checkout wallet buttons to the cart page
  assets/js/monei-express-checkout.js
  src/Services/express/ExpressCheckoutAssets.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

feat: save and restore the cart around a product page express payment
  src/Services/express/ExpressCartBackup.php
  tests/phpunit/ExpressCartBackupTest.php
Due: composer phpcbf --, composer phpstan --

feat: add express checkout wallet buttons to the product page
  assets/js/helpers/monei-express-api.js
  assets/js/monei-express-checkout.js
  src/Core/container-definitions.php
  src/Services/express/ExpressCheckoutAjaxHandler.php
  src/Services/express/ExpressCheckoutAssets.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

refactor: simplify the express beacon field assembly
  assets/js/helpers/monei-express-api.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: stop the express payment observer from aborting non-express checkouts
  assets/js/monei-block-express-checkout.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: ask the supported payment methods endpoint, not the deprecated one
  composer.json
  composer.lock
  src/Repositories/PaymentMethodsRepository.php
  tests/phpunit/PaymentMethodsRepositoryTest.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

ci: run the Jest and PHPUnit suites on every push
  .github/workflows/tests.yml
  tests/playwright/README.md
Due: wp-scripts format

fix: wait for a pending amount update before tokenizing the card
  assets/js/helpers/monei-card-group-hooks.js
  assets/js/helpers/monei-card-group-hooks.test.js
  assets/js/helpers/monei-card-input-hooks.js
  assets/js/helpers/monei-card-input-hooks.test.js
  assets/js/helpers/monei-shared-utils.js
  assets/js/monei-cc-classic.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: reject express ajax replies that carry no usable body
  assets/js/helpers/monei-express-api.js
  assets/js/helpers/monei-express-api.test.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: keep the borrowed cart until the server confirms its release
  assets/js/monei-express-checkout.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: stop writing the whole cart snapshot to the log
  src/Services/express/ExpressCartBackup.php
Due: composer phpcbf --, composer phpstan --

docs: record the multi-package shipping limitation of express
  src/Services/express/ExpressCheckoutAjaxHandler.php
Due: composer phpcbf --, composer phpstan --

ci: restrict workflow token scope and drop checkout credentials
  .github/workflows/code-quality.yml
  .github/workflows/create-package.yml
  .github/workflows/main.yml
  .github/workflows/tests.yml
Due: wp-scripts format

docs: hyphenate end-to-end
  DEVELOPER.md
Due: wp-scripts format
