Repository MONEI/MONEI-WooCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix, wp-scripts lint-style --fix

fix: stop express block payments running under the previous method
  assets/js/monei-block-express-checkout.js
Due: wp-scripts format, wp-scripts lint-js --fix

chore: translate the express checkout title
  assets/js/monei-block-express-checkout.js
  languages/monei.pot
Due: wp-scripts format, wp-scripts lint-js --fix

feat: create the express order server side and verify its amount
  assets/js/monei-express-checkout.js
  src/Services/express/ExpressCheckoutAjaxHandler.php
  tests/phpunit/ExpressAmountVerificationTest.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

feat: add the PayPal express checkout button to all three surfaces
  assets/css/monei-express-checkout.css
  assets/js/helpers/monei-express-payment-request.js
  assets/js/monei-block-express-checkout.js
  assets/js/monei-express-checkout.js
  src/Gateways/Abstracts/WCMoneiPaymentGateway.php
  src/Gateways/Blocks/MoneiAppleGoogleBlocksSupport.php
  src/Gateways/Blocks/MoneiPaypalBlocksSupport.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
  src/Services/express/ExpressCheckoutAssets.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix, wp-scripts lint-style --fix

feat: let express checkout renew subscription products
  src/Features/Subscriptions/YithSubscriptionPluginHandler.php
  src/Gateways/Abstracts/WCMoneiPaymentGateway.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  src/Services/express/ExpressCheckoutAjaxHandler.php
Due: composer phpcbf --, composer phpstan --

chore: regenerate the translation files for the express checkout strings
  languages/monei.pot
Due: none

test: cover the express amount check against the running server
  tests/playwright/specs/express-amount.spec.js
  tests/playwright/utils/wp-cli.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: pay a real express checkout order end to end
  tests/playwright/specs/express-payment.spec.js
  tests/playwright/utils/wp-cli.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: run the e2e suite against wp-env and pay a real express order
  .github/workflows/tests.yml
  .wp-env.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/playwright/.fixtures.json
  tests/playwright/playwright.config.js
  tests/playwright/seed.js
  tests/playwright/specs/classic-cc-single.spec.js
  tests/playwright/specs/express-amount.spec.js
  tests/playwright/specs/express-payment.spec.js
  tests/playwright/utils/checkout.js
  tests/playwright/utils/env.js
  tests/playwright/utils/fixtures.js
  tests/playwright/utils/wp-cli.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: clear the wallet token on every express failure path
  assets/js/monei-block-express-checkout.js
  assets/js/monei-express-checkout.js
Due: wp-scripts format, wp-scripts lint-js --fix

ci: honour MONEI_TEST_ACCOUNT_ID and fail on an account mismatch
  .github/workflows/tests.yml
  tests/playwright/seed.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: trim CI secrets and name the key shape when MONEI refuses it
  tests/playwright/seed.js
  tests/playwright/utils/env.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: make the e2e tooling fail fast and diagnosably
  .gitignore
  tests/playwright/.fixtures.json
  tests/playwright/seed.js
  tests/playwright/specs/express-payment.spec.js
  tests/playwright/utils/wp-cli.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: keep answering 3DS challenges until the order lands
  tests/playwright/utils/checkout.js
Due: wp-scripts format, wp-scripts lint-js --fix

style: apply the project phpcs standard to the plugin bootstrap class
  class-woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --

fix: gate the new-install notice dismissal on a capability check
  class-woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --

fix: translate two strings in the plugin text domain instead of WooCommerce's
  class-woocommerce-gateway-monei.php
  includes/class-wc-monei-redirect-hooks.php
  languages/monei.pot
Due: composer phpcbf --, composer phpstan --

fix: load the MONEI SDK on the Bizum block checkout
  assets/js/monei-block-checkout-bizum.js
  src/Gateways/Blocks/MoneiBizumBlocksSupport.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

fix: register block script translations against the monei text domain
  src/Gateways/Blocks/MoneiAppleGoogleBlocksSupport.php
  src/Gateways/Blocks/MoneiBizumBlocksSupport.php
  src/Gateways/Blocks/MoneiCCBlocksSupport.php
  src/Gateways/Blocks/MoneiMBWayBlocksSupport.php
  src/Gateways/Blocks/MoneiMultibancoBlocksSupport.php
  src/Gateways/Blocks/MoneiPaypalBlocksSupport.php
  src/Services/express/ExpressCheckoutAssets.php
Due: composer phpcbf --, composer phpstan --

fix: escape values interpolated into gateway icon and card brand markup
  assets/js/monei-cc-classic.js
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiBizum.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  src/Gateways/PaymentMethods/WCGatewayMoneiMBWay.php
  src/Gateways/PaymentMethods/WCGatewayMoneiMultibanco.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

fix: make the express button style descriptions translatable
  includes/admin/monei-apple-google-settings.php
  includes/admin/monei-paypal-settings.php
  languages/monei.pot
Due: composer phpcbf --, composer phpstan --

test: cover the Bizum block checkout SDK registration
  tests/playwright/specs/blocks-bizum.spec.js
  tests/playwright/utils/wp-cli.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: run the card journeys only where 3DS can complete
  tests/playwright/specs/blocks-cc-single.spec.js
  tests/playwright/specs/blocks-cc-split.spec.js
  tests/playwright/specs/classic-cc-single.spec.js
  tests/playwright/utils/env.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: give each e2e run its own MONEI order id range
  tests/playwright/seed.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: run the Bizum component test only where MONEI offers Bizum
  tests/playwright/specs/blocks-bizum.spec.js
  tests/playwright/utils/wp-cli.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: save the express session before calling the gateway
  src/Services/express/ExpressCheckoutAjaxHandler.php
Due: composer phpcbf --, composer phpstan --

docs: match the e2e README to the wp-env suite
  tests/playwright/README.md
Due: wp-scripts format

docs: name the key the e2e suite actually requires
  DEVELOPER.md
  tests/playwright/.env.example
  tests/playwright/utils/env.js
Due: wp-scripts format, wp-scripts lint-js --fix

ci: pin GitHub Actions to commit SHAs
  .github/workflows/code-quality.yml
  .github/workflows/create-package.yml
  .github/workflows/main.yml
  .github/workflows/tests.yml
Due: wp-scripts format

docs: drop the key-shaped placeholder from the e2e setup
  tests/playwright/.env.example
  tests/playwright/README.md
Due: wp-scripts format

fix: keep payment methods when the MONEI lookup fails
  src/Repositories/PaymentMethodsRepository.php
  tests/playwright/utils/checkout.js
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

fix: wait for a pending amount update before tokenizing the card
  assets/js/helpers/monei-card-group-hooks.js
  assets/js/helpers/monei-card-group-hooks.test.js
  assets/js/helpers/monei-card-input-hooks.js
  assets/js/helpers/monei-card-input-hooks.test.js
  assets/js/helpers/monei-shared-utils.js
  assets/js/monei-cc-classic.js
Due: wp-scripts format, wp-scripts lint-js --fix

refactor: replace deprecated createToken with instance.submit
  assets/js/helpers/monei-card-input-hooks.js
  assets/js/helpers/monei-shared-utils.js
  assets/js/monei-cc-classic.js
  src/Gateways/Blocks/MoneiAppleGoogleBlocksSupport.php
  src/Gateways/Blocks/MoneiCCBlocksSupport.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiBizum.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

feat: add split card fields to blocks checkout
  assets/js/components/monei-cc-group-component.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: re-cache the payment methods fallback during an API outage
  src/Repositories/PaymentMethodsRepository.php
Due: composer phpcbf --, composer phpstan --

feat: add useMoneiCardGroup hook for split card fields
  assets/js/helpers/monei-card-group-hooks.js
  assets/js/helpers/monei-card-group-hooks.test.js
Due: wp-scripts format, wp-scripts lint-js --fix

Path conditions:
  composer phpcbf --: any of: *.php
  composer phpstan --: any of: *.php
  wp-scripts format: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{json,yml,yaml,md})
  wp-scripts lint-js --fix: any of: *.{js,jsx}
  wp-scripts lint-style --fix: any of: *.{css,scss}
