Repository MONEI/MONEI-WooCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix, wp-scripts lint-style --fix

chore: release v7.3.2
  CHANGELOG.md
  class-woocommerce-gateway-monei.php
  package.json
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

docs: regenerate readme changelog for 7.3.2
  README.md
  readme.txt
Due: wp-scripts format

test: compare how the payment methods render at checkout
  .github/workflows/tests.yml
  .wp-env.json
  tests/playwright/README.md
  tests/playwright/playwright.config.js
  tests/playwright/seed.js
  tests/playwright/specs/blocks-bizum.spec.js
  tests/playwright/specs/payment-methods-rendering.spec.js
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-bizum-blocks-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-single-blocks-guest-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-single-blocks-save-card-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-single-classic-guest-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-single-classic-save-card-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-blocks-focused-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-blocks-guest-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-blocks-invalid-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-blocks-save-card-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-classic-guest-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-classic-save-card-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-express-blocks-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-paypal-blocks-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-wallet-blocks-visual-darwin.png
  tests/playwright/utils/bizum.js
  tests/playwright/utils/checkout.js
  tests/playwright/utils/wp-cli.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: set the store state each screenshot group needs, do not inherit it
  tests/playwright/specs/payment-methods-rendering.spec.js
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-blocks-invalid-visual-darwin.png
  tests/playwright/utils/checkout.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: fail the font install loudly, and keep one gate from taking three tests
  .github/workflows/tests.yml
  tests/playwright/specs/payment-methods-rendering.spec.js
Due: wp-scripts format, wp-scripts lint-js --fix

ci: drop the font install — it could not have helped
  .github/workflows/tests.yml
  tests/playwright/README.md
  tests/playwright/playwright.config.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: photograph the classic methods list, not everything in #payment
  tests/playwright/specs/payment-methods-rendering.spec.js
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-single-classic-guest-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-single-classic-save-card-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-classic-guest-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-classic-save-card-visual-darwin.png
  tests/playwright/utils/wp-cli.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: keep the snapshot docblock on snapshot
  tests/playwright/specs/payment-methods-rendering.spec.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: read the card settings loudly before snapshotting them
  tests/playwright/specs/payment-methods-rendering.spec.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: compare how the payment methods render at checkout (#122)
  .github/workflows/tests.yml
  .wp-env.json
  tests/playwright/README.md
  tests/playwright/playwright.config.js
  tests/playwright/seed.js
  tests/playwright/specs/blocks-bizum.spec.js
  tests/playwright/specs/payment-methods-rendering.spec.js
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-bizum-blocks-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-single-blocks-guest-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-single-blocks-save-card-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-single-classic-guest-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-single-classic-save-card-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-blocks-focused-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-blocks-guest-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-blocks-invalid-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-blocks-save-card-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-classic-guest-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-classic-save-card-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-express-blocks-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-paypal-blocks-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-wallet-blocks-visual-darwin.png
  tests/playwright/utils/bizum.js
  tests/playwright/utils/checkout.js
  tests/playwright/utils/wp-cli.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: fail the Bizum case when its availability cannot be determined
  tests/playwright/specs/payment-methods-rendering.spec.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: centre the text in the card fields
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  tests/playwright/README.md
  tests/playwright/specs/payment-methods-rendering.spec.js
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-single-blocks-guest-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-single-blocks-save-card-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-single-classic-guest-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-single-classic-save-card-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-blocks-focused-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-blocks-guest-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-blocks-invalid-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-blocks-save-card-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-classic-guest-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-classic-save-card-visual-darwin.png
  tests/playwright/utils/checkout.js
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

test: fail the Bizum case when its availability cannot be determined (#123)
  tests/playwright/specs/payment-methods-rendering.spec.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: centre the text in the card fields (#124)
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  tests/playwright/README.md
  tests/playwright/specs/payment-methods-rendering.spec.js
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-single-blocks-guest-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-single-blocks-save-card-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-single-classic-guest-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-single-classic-save-card-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-blocks-focused-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-blocks-guest-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-blocks-invalid-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-blocks-save-card-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-classic-guest-visual-darwin.png
  tests/playwright/specs/payment-methods-rendering.spec.js-snapshots/checkout-card-split-classic-save-card-visual-darwin.png
  tests/playwright/utils/checkout.js
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

chore: release v7.3.3
  CHANGELOG.md
  class-woocommerce-gateway-monei.php
  package.json
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

docs: regenerate readme changelog for 7.3.3
  README.md
  readme.txt
Due: wp-scripts format

test: stop seeding the pre-7.3.0 card field layout
  tests/playwright/seed.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: stop seeding the pre-7.3.0 card field layout (#125)
  tests/playwright/seed.js
Due: wp-scripts format, wp-scripts lint-js --fix

Path conditions:
  composer phpcbf --: any of: *.php
  composer phpstan --: any of: *.php
  wp-scripts format: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{json,yml,yaml,md})
  wp-scripts lint-js --fix: any of: *.{js,jsx}
  wp-scripts lint-style --fix: any of: *.{css,scss}
