Repository MONEI/MONEI-WooCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix, wp-scripts lint-style --fix

feat: style split card fields
  assets/css/monei-blocks-checkout.css
  assets/css/monei-classic-checkout.css
Due: wp-scripts format, wp-scripts lint-style --fix

test: keep answering 3DS challenges until the order lands
  tests/playwright/utils/checkout.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: run the card journeys only where 3DS can complete
  tests/playwright/specs/blocks-cc-single.spec.js
  tests/playwright/specs/blocks-cc-split.spec.js
  tests/playwright/specs/classic-cc-single.spec.js
  tests/playwright/utils/env.js
Due: wp-scripts format, wp-scripts lint-js --fix

test: make the e2e tooling fail fast and diagnosably
  .gitignore
  tests/playwright/.fixtures.json
  tests/playwright/seed.js
  tests/playwright/specs/express-payment.spec.js
  tests/playwright/utils/wp-cli.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: keep the borrowed cart until the server confirms its release
  assets/js/monei-express-checkout.js
Due: wp-scripts format, wp-scripts lint-js --fix

feat: add express checkout ajax handler scaffolding and bootstrap
  class-woocommerce-gateway-monei.php
  src/Core/container-definitions.php
  src/Services/express/ExpressCheckoutAjaxHandler.php
Due: composer phpcbf --, composer phpstan --

docs: update commands for pnpm
  CLAUDE.md
  DEVELOPER.md
Due: wp-scripts format

feat: add card field layout setting for split card fields
  includes/admin/monei-cc-settings.php
  languages/monei.pot
  src/Gateways/Blocks/MoneiCCBlocksSupport.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
Due: composer phpcbf --, composer phpstan --

chore: gitignore local implementation plans
  .gitignore
Due: none

ci: honour MONEI_TEST_ACCOUNT_ID and fail on an account mismatch
  .github/workflows/tests.yml
  tests/playwright/seed.js
Due: wp-scripts format, wp-scripts lint-js --fix

feat: add express checkout wallet buttons to the product page
  assets/js/helpers/monei-express-api.js
  assets/js/monei-express-checkout.js
  src/Core/container-definitions.php
  src/Services/express/ExpressCheckoutAjaxHandler.php
  src/Services/express/ExpressCheckoutAssets.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

fix: pass amount and currency to CardInput for monei.js v3
  assets/js/components/monei-cc-component.js
  assets/js/helpers/monei-card-input-hooks.js
  assets/js/monei-cc-classic.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: stop the express payment observer from aborting non-express checkouts
  assets/js/monei-block-express-checkout.js
Due: wp-scripts format, wp-scripts lint-js --fix

feat: add the PayPal express checkout button to all three surfaces
  assets/css/monei-express-checkout.css
  assets/js/helpers/monei-express-payment-request.js
  assets/js/monei-block-express-checkout.js
  assets/js/monei-express-checkout.js
  src/Gateways/Abstracts/WCMoneiPaymentGateway.php
  src/Gateways/Blocks/MoneiAppleGoogleBlocksSupport.php
  src/Gateways/Blocks/MoneiPaypalBlocksSupport.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
  src/Services/express/ExpressCheckoutAssets.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix, wp-scripts lint-style --fix

ci: restrict workflow token scope and drop checkout credentials
  .github/workflows/code-quality.yml
  .github/workflows/create-package.yml
  .github/workflows/main.yml
  .github/workflows/tests.yml
Due: wp-scripts format

feat: add split card fields to classic checkout
  assets/js/monei-cc-classic.js
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

test: cover the Bizum block checkout SDK registration
  tests/playwright/specs/blocks-bizum.spec.js
  tests/playwright/utils/wp-cli.js
Due: wp-scripts format, wp-scripts lint-js --fix

chore: translate the express checkout title
  assets/js/monei-block-express-checkout.js
  languages/monei.pot
Due: wp-scripts format, wp-scripts lint-js --fix

fix: ask the supported payment methods endpoint, not the deprecated one
  composer.json
  composer.lock
  src/Repositories/PaymentMethodsRepository.php
  tests/phpunit/PaymentMethodsRepositoryTest.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

ci: run the Jest and PHPUnit suites on every push
  .github/workflows/tests.yml
  tests/playwright/README.md
Due: wp-scripts format

test: require both E2E site targets explicitly
  DEVELOPER.md
  package.json
  pnpm-lock.yaml
  tests/playwright/.env.example
  tests/playwright/README.md
  tests/playwright/playwright.config.js
  tests/playwright/specs/blocks-cc-single.spec.js
  tests/playwright/specs/blocks-cc-split.spec.js
  tests/playwright/specs/classic-cc-single.spec.js
  tests/playwright/utils/env.js
  tests/playwright/utils/wp-cli.js
Due: wp-scripts format, wp-scripts lint-js --fix

chore: release v7.0.3
  README.md
  readme.txt
Due: wp-scripts format

fix: stop writing the whole cart snapshot to the log
  src/Services/express/ExpressCartBackup.php
Due: composer phpcbf --, composer phpstan --

docs: require node 22.13, the minimum pnpm 11 accepts
  DEVELOPER.md
Due: wp-scripts format

fix: match split card field styling to surrounding form inputs
  assets/css/monei-blocks-checkout.css
  assets/css/monei-classic-checkout.css
  includes/admin/monei-cc-settings.php
  src/Gateways/Blocks/MoneiCCBlocksSupport.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-style --fix

docs: point the css lint example at the auto-fixer and refresh the release examples
  CLAUDE.md
Due: wp-scripts format

chore: release v7.1.0
  CHANGELOG.md
  class-woocommerce-gateway-monei.php
  package.json
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

docs: regenerate readme changelog for 7.1.0
  README.md
  readme.txt
Due: wp-scripts format

fix: give the card field the same bottom margin as the cardholder field
  assets/css/monei-blocks-checkout.css
  assets/css/monei-classic-checkout.css
Due: wp-scripts format, wp-scripts lint-style --fix

fix: stop reporting a dismissed wallet sheet as a checkout error
  assets/js/helpers/monei-shared-utils.js
  assets/js/monei-block-express-checkout.js
  assets/js/monei-express-checkout.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: tell the wallet when an address cannot be shipped to
  assets/js/helpers/monei-express-payment-request.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: do not register an express wallet the account cannot serve
  src/Services/PaymentMethodsService.php
  src/Services/express/ExpressCheckoutAssets.php
Due: composer phpcbf --, composer phpstan --

fix: stop string severities bypassing the log level and filing as errors
  includes/addons/class-wc-monei-addons-redirect-hooks.php
  includes/class-wc-monei-ipn.php
  includes/class-wc-monei-logger.php
  includes/class-wc-monei-pre-auth.php
  includes/class-wc-monei-redirect-hooks.php
  phpstan.neon
  src/Features/Subscriptions/WooCommerceSubscriptionsHandler.php
  src/Features/Subscriptions/YithSubscriptionPluginHandler.php
  src/Services/MoneiApplePayVerificationService.php
Due: composer phpcbf --, composer phpstan --

fix: refuse an express order the wallet gave no email for
  src/Services/express/ExpressCheckoutAjaxHandler.php
  tests/playwright/specs/express-amount.spec.js
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

fix: give the save-card checkbox its gap instead of padding the card field
  assets/css/monei-blocks-checkout.css
  assets/css/monei-classic-checkout.css
Due: wp-scripts format, wp-scripts lint-style --fix

chore: release v7.1.1
  CHANGELOG.md
  class-woocommerce-gateway-monei.php
  package.json
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

docs: regenerate readme changelog for 7.1.1
  README.md
  readme.txt
Due: wp-scripts format

fix: keep the wallet button inside its container on blocks checkout
  assets/css/monei-blocks-checkout.css
Due: wp-scripts format, wp-scripts lint-style --fix

fix: stop the wallet container shifting when the button renders
  assets/css/monei-blocks-checkout.css
Due: wp-scripts format, wp-scripts lint-style --fix

chore: release v7.1.2
  CHANGELOG.md
  class-woocommerce-gateway-monei.php
  package.json
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

Path conditions:
  composer phpcbf --: any of: *.php
  composer phpstan --: any of: *.php
  wp-scripts format: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{json,yml,yaml,md})
  wp-scripts lint-js --fix: any of: *.{js,jsx}
  wp-scripts lint-style --fix: any of: *.{css,scss}
