Repository MONEI/MONEI-WooCommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix, wp-scripts lint-style --fix

feat: let express checkout renew subscription products
  src/Features/Subscriptions/YithSubscriptionPluginHandler.php
  src/Gateways/Abstracts/WCMoneiPaymentGateway.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  src/Services/express/ExpressCheckoutAjaxHandler.php
Due: composer phpcbf --, composer phpstan --

feat: add express checkout wallet buttons to the checkout page
  assets/css/monei-express-checkout.css
  assets/js/helpers/monei-express-api.js
  assets/js/helpers/monei-express-payment-request.js
  assets/js/monei-block-express-checkout.js
  assets/js/monei-express-checkout.js
  class-woocommerce-gateway-monei.php
  src/Core/container-definitions.php
  src/Gateways/Blocks/MoneiAppleGoogleBlocksSupport.php
  src/Services/express/ExpressCheckoutAssets.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix, wp-scripts lint-style --fix

fix: run formatter after linters so prettier has the last word
  .lintstagedrc.json
  assets/css/monei-blocks-checkout.css
  assets/css/monei-classic-checkout.css
Due: wp-scripts format, wp-scripts lint-style --fix

fix: make the express button style descriptions translatable
  includes/admin/monei-apple-google-settings.php
  includes/admin/monei-paypal-settings.php
  languages/monei.pot
Due: composer phpcbf --, composer phpstan --

chore: add explicit stylelint config so prettier and stylelint agree
  .stylelintrc.json
Due: wp-scripts format

test: run the e2e suite against wp-env and pay a real express order
  .github/workflows/tests.yml
  .wp-env.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/playwright/.fixtures.json
  tests/playwright/playwright.config.js
  tests/playwright/seed.js
  tests/playwright/specs/classic-cc-single.spec.js
  tests/playwright/specs/express-amount.spec.js
  tests/playwright/specs/express-payment.spec.js
  tests/playwright/utils/checkout.js
  tests/playwright/utils/env.js
  tests/playwright/utils/fixtures.js
  tests/playwright/utils/wp-cli.js
Due: wp-scripts format, wp-scripts lint-js --fix

docs: hyphenate end-to-end
  DEVELOPER.md
Due: wp-scripts format

chore: bootstrap jest test infrastructure
  assets/js/helpers/monei-shared-utils.test.js
  jest-unit.config.js
  package.json
  yarn.lock
Due: wp-scripts format, wp-scripts lint-js --fix

docs: record the multi-package shipping limitation of express
  src/Services/express/ExpressCheckoutAjaxHandler.php
Due: composer phpcbf --, composer phpstan --

fix: stop express block payments running under the previous method
  assets/js/monei-block-express-checkout.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: save the express session before calling the gateway
  src/Services/express/ExpressCheckoutAjaxHandler.php
Due: composer phpcbf --, composer phpstan --

feat: add express cart details and shipping options endpoints
  src/Services/express/ExpressCheckoutAjaxHandler.php
  tests/phpunit/ExpressAmountTest.php
Due: composer phpcbf --, composer phpstan --

docs: match the e2e README to the wp-env suite
  tests/playwright/README.md
Due: wp-scripts format

feat: normalize express wallet addresses and update shipping method
  src/Services/express/ExpressCheckoutAjaxHandler.php
  tests/phpunit/ExpressAddressTest.php
Due: composer phpcbf --, composer phpstan --

chore: declare support for WordPress 7.0 and WooCommerce 11.0
  README.md
  readme.txt
  woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

docs: name the key the e2e suite actually requires
  DEVELOPER.md
  tests/playwright/.env.example
  tests/playwright/utils/env.js
Due: wp-scripts format, wp-scripts lint-js --fix

feat: add express checkout settings and gating
  includes/admin/monei-apple-google-settings.php
  includes/admin/monei-paypal-settings.php
  languages/monei.pot
  src/Gateways/Abstracts/WCMoneiPaymentGateway.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
Due: composer phpcbf --, composer phpstan --

fix: round the cart total to minor units instead of truncating it
  assets/js/components/monei-apple-google-component.js
  assets/js/components/monei-cc-component.js
  assets/js/helpers/monei-shared-utils.js
  assets/js/helpers/monei-shared-utils.test.js
  assets/js/monei-block-checkout-bizum.js
  assets/js/monei-block-checkout-paypal.js
Due: wp-scripts format, wp-scripts lint-js --fix

ci: pin GitHub Actions to commit SHAs
  .github/workflows/code-quality.yml
  .github/workflows/create-package.yml
  .github/workflows/main.yml
  .github/workflows/tests.yml
Due: wp-scripts format

test: add playwright e2e coverage for card payments
  .eslintignore
  .prettierignore
  .stylelintignore
  package.json
  tests/playwright/playwright.config.js
  tests/playwright/specs/blocks-cc-single.spec.js
  tests/playwright/specs/blocks-cc-split.spec.js
  tests/playwright/specs/classic-cc-single.spec.js
  tests/playwright/utils/checkout.js
  tests/playwright/utils/wp-cli.js
  yarn.lock
Due: wp-scripts format, wp-scripts lint-js --fix

test: run the Bizum component test only where MONEI offers Bizum
  tests/playwright/specs/blocks-bizum.spec.js
  tests/playwright/utils/wp-cli.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: retry card init after a failed attempt and destroy the old card group
  assets/js/helpers/monei-card-group-hooks.js
  assets/js/helpers/monei-card-group-hooks.test.js
  assets/js/helpers/monei-card-input-hooks.js
  assets/js/monei-cc-classic.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: gate the new-install notice dismissal on a capability check
  class-woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --

chore: regenerate the translation files for the express checkout strings
  languages/monei.pot
Due: none

fix: register block script translations against the monei text domain
  src/Gateways/Blocks/MoneiAppleGoogleBlocksSupport.php
  src/Gateways/Blocks/MoneiBizumBlocksSupport.php
  src/Gateways/Blocks/MoneiCCBlocksSupport.php
  src/Gateways/Blocks/MoneiMBWayBlocksSupport.php
  src/Gateways/Blocks/MoneiMultibancoBlocksSupport.php
  src/Gateways/Blocks/MoneiPaypalBlocksSupport.php
  src/Services/express/ExpressCheckoutAssets.php
Due: composer phpcbf --, composer phpstan --

docs: drop the key-shaped placeholder from the e2e setup
  tests/playwright/.env.example
  tests/playwright/README.md
Due: wp-scripts format

fix: make formatting and sanitizer checks real gates
  .prettierignore
  package.json
  phpcs.xml
Due: wp-scripts format

feat: add express checkout wallet buttons to the cart page
  assets/js/monei-express-checkout.js
  src/Services/express/ExpressCheckoutAssets.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

feat: migrate monei.js from v2 to v3
  src/Gateways/Blocks/MoneiAppleGoogleBlocksSupport.php
  src/Gateways/Blocks/MoneiCCBlocksSupport.php
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiBizum.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
Due: composer phpcbf --, composer phpstan --

feat: save and restore the cart around a product page express payment
  src/Services/express/ExpressCartBackup.php
  tests/phpunit/ExpressCartBackupTest.php
Due: composer phpcbf --, composer phpstan --

fix: load the MONEI SDK on the Bizum block checkout
  assets/js/monei-block-checkout-bizum.js
  src/Gateways/Blocks/MoneiBizumBlocksSupport.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

refactor: simplify the express beacon field assembly
  assets/js/helpers/monei-express-api.js
Due: wp-scripts format, wp-scripts lint-js --fix

chore: migrate from yarn to pnpm
  .distignore
  .github/workflows/code-quality.yml
  .github/workflows/create-package.yml
  .github/workflows/main.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .prettierignore
  .yarnrc.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: wp-scripts format

feat: create the express order server side and verify its amount
  assets/js/monei-express-checkout.js
  src/Services/express/ExpressCheckoutAjaxHandler.php
  tests/phpunit/ExpressAmountVerificationTest.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

style: apply the project phpcs standard to the plugin bootstrap class
  class-woocommerce-gateway-monei.php
Due: composer phpcbf --, composer phpstan --

fix: clear the wallet token on every express failure path
  assets/js/monei-block-express-checkout.js
  assets/js/monei-express-checkout.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: escape values interpolated into gateway icon and card brand markup
  assets/js/monei-cc-classic.js
  src/Gateways/PaymentMethods/WCGatewayMoneiAppleGoogle.php
  src/Gateways/PaymentMethods/WCGatewayMoneiBizum.php
  src/Gateways/PaymentMethods/WCGatewayMoneiCC.php
  src/Gateways/PaymentMethods/WCGatewayMoneiMBWay.php
  src/Gateways/PaymentMethods/WCGatewayMoneiMultibanco.php
  src/Gateways/PaymentMethods/WCGatewayMoneiPaypal.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format, wp-scripts lint-js --fix

test: give each e2e run its own MONEI order id range
  tests/playwright/seed.js
Due: wp-scripts format, wp-scripts lint-js --fix

fix: reject express ajax replies that carry no usable body
  assets/js/helpers/monei-express-api.js
  assets/js/helpers/monei-express-api.test.js
Due: wp-scripts format, wp-scripts lint-js --fix

chore: bootstrap phpunit for pure helper tests
  .gitignore
  composer.json
  composer.lock
  phpunit.xml
  tests/phpunit/SmokeTest.php
  tests/phpunit/bootstrap.php
Due: composer phpcbf --, composer phpstan --, wp-scripts format

Path conditions:
  composer phpcbf --: any of: *.php
  composer phpstan --: any of: *.php
  wp-scripts format: ((any of: *.{js,jsx}) or (any of: *.{css,scss})) or (any of: *.{json,yml,yaml,md})
  wp-scripts lint-js --fix: any of: *.{js,jsx}
  wp-scripts lint-style --fix: any of: *.{css,scss}
